
  p1{
  margine-bottom: 15px;
  z-index: 30;
  position: relative;
}

p2{
  margine-left:40px;
  margine-top:-45px;
  z-index: 20;
    position: relative;
}

p3{
  margine-left:80px;
  margine-top:-95px;
  z-index: 10;
    position: relative;
}

p4{
  margine-left:120px;
  margine-top:-45px;
  z-index: 20;
    position: relative;
}

p5{
  margine-left:150px;
  margine-top:-20px;
  z-index: 10;
    position: relative;
}

p6{
  margine-left:15px;
  margine-top:-80px;
  z-index: 20;
    position: relative;
}

p7{
  margine-left:40px;
  margine-top:-105px;
  z-index: 20;
    position: relative;
}

p8{
  margine-left:80px;
  margine-top:-155px;
  z-index: 10;
    position: relative;
}

p9{
  margine-left:120px;
  margine-top:-195px;
  z-index: 30;
    position: relative;
}

p10{
  margine-left:150px;
  margine-top:-200px;
  z-index: 10;
    position: relative;
}
