html{
 
}
#body{
	background-color: yellow;
 
p1{
  font-size:2rem;
}

p2{
  font-size: .7rem;
}

P3{
  font-size:1rem
} 

p4{
  font-size: 2.75rem;
}

p5{
  font-size:3rem;
}


.box{
  background-color: yellow;
  height 30vh;
  width: 50vh;
}
